<% content_for :title do %>
    <%= t('.quick_orders') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-file-text"></i> <%= t('.quick_orders') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                value: @from_date,
                placeholder: 'Chọn từ ngày'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                value: @to_date,
                placeholder: 'Chọn đến ngày'
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'state_id',
                label: 'Tỉnh/Thành phố',
                placeholder: 'Lọc theo Tỉnh/Thành phố',
                url: erp_areas.dataselect_backend_states_path(format: 'json'),
                multiple: true,
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_quick_orders.list_backend_orders_path,
    keywords: [
        {
            text: t('.code'), name: 'erp_quick_orders_orders.code'
        }
    ],
    actions: [
        # {
        #     text: '<i class="fa fa-refresh"></i> '+t('.update'),
        #     url: erp_quick_orders.update_status_all_backend_orders_path,
        #     data_method: 'PUT',
        #     data_confirm: t('update_status_confirm')
        # }
    ],
    filters: [
        { 
            text: t('.new'), name: 'status', value: Erp::QuickOrders::Order::STATUS_NEW, checked: true 
        },
        { 
            text: t('.pending'), name: 'status', value: Erp::QuickOrders::Order::STATUS_PENDING, checked: true 
        },
        { 
            text: t('.confirmed'), name: 'status', value: Erp::QuickOrders::Order::STATUS_CONFIRMED, checked: true 
        },
        { 
            text: t('.done'), name: 'status', value: Erp::QuickOrders::Order::STATUS_DONE, checked: true 
        },
        { 
            text: t('.canceled'), name: 'status', value: Erp::QuickOrders::Order::STATUS_CANCELED, checked: false 
        },
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.customer'), name: 'customer', value: true, checked: true
        },
        {
            text: t('.state'), name: 'state', value: true, checked: true
        },
        {
            text: t('.phone'), name: 'phone', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
        {
            text: t('.order_date'), name: 'order_date', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        }
    ]
) %>